/*-------------------------------------------*\
   variables.less
 
   Index
   - Color Palette
   - Body
   - Navbar
   - Overlay Seach Button
   - Typography
   - Buttons
   - Forms
   - Layout
   - Messaging & Status
   - General
   - Navigation
   - Carousel
   - Jumbotron
\*-------------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
 

body{
	font-family: 'Roboto', sans-serif;
}


h4,h5{
	color: #0F2B5B;
}

a:hover{
	text-decoration: none;
}

/* Navbar CSS */
.dropdown{
	position: relative;
	display: inline-block;
}

.dropdown-menu{
	  display: none;
	  position: absolute;
	  background-color: #FFF;
	  z-index: 1;
	  font-size:12px;
}

.dropdown-menu a{
	margin-top:-9px;
	margin-bottom:4px;
	padding: 8px 25px;
	box-shadow: 0px 0.9px 0px #0F2B5B33;
}

.dropdown:hover .dropdown-menu{
	display: block;
}

.dropdown-menu a:hover{
	margin-top:-9px;
	margin-bottom:4px;
	background-color: #0F2B5B;
	color:#FCD116;
	padding: 8px 25px;
}
 
/* Overlay Seacrh Button */
* {
	box-sizing: border-box;
  }
  
  .overlay {
	height: 25%;
	width: 100%;
	display: none;
	position: fixed;
	z-index: 1;
	top: 0;
	left: 0;
	background-color: rgb(255, 255, 255);
	background-color: rgba(255, 255, 255, 0.9);
  }
  
  .overlay-content {
	position: relative;
	top: 40%;
	width: 80%;
	text-align: center;
	margin-top: 30px;
	margin: auto;
  }
  
  .overlay .closebtn {
	position: absolute;
	top: 20px;
	right: 45px;
	font-size: 50px;
	cursor: pointer;
	color: rgb(15, 8, 67);
  }
  
  .overlay .closebtn:hover {
	color: #ccc;
  }
  
  .overlay input[type=text] {
	padding: 15px;
	font-size: 17px;
	border: none;
	float: left;
	width: 80%;
	background: white;
  }
  
  .overlay input[type=text]:hover {
	background: #f1f1f1;
  }
  
  .overlay button {
	float: left;
	width: 10%;
	padding: 5px;
	background: rgb(8, 7, 73);
	border: none;
	cursor: pointer;
	color:white;
  }
  
  .overlay button:hover {
	background: #bbb;
  }


#simulasi{
	margin-top:-5%;
	height: 750px;
	background: #F2F7FF 0% 0% no-repeat padding-box;
	opacity: 1;
}


.card.branch{
	font-family: 'Roboto', sans-serif;
	box-shadow: 0px 20px 40px #75B2DD1A; border-radius: 12px;
	width: 250px;
	height: 280px;
	padding-left:5px;
	padding-right:5px;
	padding-bottom:0px;
	opacity: 50;
}
.card.branch h3{
	color:#0F2B5B;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	
}

.card.simulasi{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	box-shadow: 0px 20px 40px #75B2DD1A; border-radius: 12px;
	width: 500px;
	height: 580px;
	padding-left:35px;
	padding-right:20px;
	padding-bottom:0px;
	opacity: 50;
}
.card.simulasi h4{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
}


.card-one{
	background: linear-gradient(to bottom, rgba(122, 151, 194, 0.748), rgba(7, 1, 56, 0.73)), url('../asset/slider2.png') no-repeat padding-box; 
	box-shadow: 0px 10px 30px #00000014;
	border-radius: 24px;
	opacity: 50;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	text-align: center;
	color: #FFFFFF;
	top: 15px;
	width: 538px;
	height: 320px;
	padding-left:35px;
	padding-right:10px;
	padding-bottom:0px;
}

.card-two{
	background: var(--orange-f77f00) 0% 0% no-repeat padding-box;
	background: #FCD116 0% 0% no-repeat padding-box;
	box-shadow: 0px 10px 30px #00000014;
	border-radius: 24px;
	opacity: 1;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	text-align: center;
	color: #0F2B5B;
	top: 15px;
	width: 538px;
	height: 320px;
	padding-left:35px;
	padding-right:10px;
	padding-bottom:0px;
}

.card-simulation {
	background: #FCD116 0% 0% no-repeat padding-box;
	box-shadow: 0px 20px 40px #00000014;
	border-radius: 24px;
	opacity: 1;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	text-align: center;
	color: #0F2B5B;
	top: 15px;
	width: 483px;
	height: 320px;
	padding-left:25px;
	padding-right:15px;
	padding-bottom:0px;
	margin-left:25%;
	margin-bottom:20%;
}

 
.card-simulation h4{
	padding: 0% 20% 0% 0%;
	line-height: 0.1;
}



.btn-simulasi-light{
	background: #fff 0% 0% no-repeat padding-box;
	color: #000;
	border-radius: 30px;
	border: none;
	position: center;
	width: 250px;
	height: 45px;
	padding: 12px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	transition-duration: 0.4s;
	margin-top: 8%;
}

.btn-simulasi-dark{
	background: #0F2B5B 0% 0% no-repeat padding-box;
	color: #FCD116;
	border-radius: 30px;
	border: none;
	position: center;
	width: 250px;
	height: 45px;
	padding: 12px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	transition-duration: 0.4s;
}

.btn-simulasi-flat {
	background: #0F2B5B 0% 0% no-repeat padding-box;
	color: #FCD116;
	border-radius: 10px;
	border: none;
	position: center;
	width: 250px;
	height: 50px;
	padding: 15px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 900;
	text-transform: uppercase;
	transition-duration: 0.4s;
	margin-top: 5%;
	margin-bottom: 10%;
}


.btn-simulasi-light:hover {
	background-color:#0F2B5B;
	color:#FFF;
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.15);
}

.btn-simulasi-dark:hover {
	background-color:#FFF;
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.15);
}

.btn-simulasi-flat:hover {
	background-color:#FFF;
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.15);
}


.btn-search{
	background-color: #0F2B5B;
	color: #fff;
	font-family: 'Roboto', sans-serif;
	border-radius: 15px;
	width: 120px;
	height: 45px;
	margin-right: 30px;
 }

.btn-wr{
	background-color: #FFF;
	border: 1px solid #AFAAA3;
	color: #121212;
	opacity: 0.5;
	font-size: 13px;
	border-radius: 25px;
	width: 179px;
	height: 45px;
	padding: 12px;
	margin-right: 30px;
 }

 .btn-wr:hover{
	background-color: #FCD116;
	color:black;
	color: #121212;
	opacity: 1;
	font-size: 13px;
	border-radius: 25px;
	width: 179px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	border:none;
	transition-duration: 0.7s;
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.15);
 }

.btn-more{
 	background-color: #0F2B5B;
	color:#FFF;
 	font-size: 13px;
 	border-radius: 25px;
	width: 250px;
	padding: 12px;
}

.btn-more:hover{
	background-color: #FFF;
	color:black;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 900;
	border-radius: 25px;
	width: 251px;
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.15);
}


.btn-share{
	background-color: #0F2B5B;
    color:#FFF;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	border-radius: 25px;
    width: 160px;
    padding: 0px;
}

.btn-share:hover{
   background-color: #FFF;
   color:black;
   font-family: 'Roboto', sans-serif;
   font-size: 14px;
   font-weight: 900;
   border-radius: 25px;
   width: 165px;
   box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.15);
}



.btn-unduh{
	font-family: 'Roboto', sans-serif;
	font-weight: bold;
	border: 1px solid #0F2B5B1A;
	background-color: #FFFF;
	color:#0F2B5B;
 	font-size: 13px;
 	border-radius: 15px;
	width: 512px;
	padding: 20px;
	margin-left:25%;
	box-shadow: 0px 20px 40px #00000014;
	background-image: url('../asset/icon/download.png');
	background-repeat: no-repeat;
	background-attachment: absolute;
	background-position: 87% 53.5%; 
}
 
.btn-unduh:hover{
	background-color: #0F2B5B;
	color:#fff;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
 	border-radius: 15px;
	width: 512px;
	padding: 19px;
	margin-left:25%;
 
}


 
.h5{
	font-size: 2px;
	color:#FCD116;
}

#search {

}
#search select{
	background: #FFFFFF 0% 0% no-repeat padding-box;
	border: 1px solid #D0D8E6;
	border-radius: 12px;
	opacity: 1;
	width: 135%;
	height: 50px;
}
#search select, option{
	font-family: 'Roboto', sans-serif;
	text-align: left;
	font-size:14px;
	color: #AFAAA3;
	opacity: 1;
}


 

#img-header{
	margin-top:1%;
}

#img-header img{
	width: 100%;height: 46%;
}

#img-header ul.breadcrumb {
	padding: 10px;
	list-style: none;
	background-color: transparent;
	box-shadow: 0px 0.9px 0px #0F2B5B33;
  }
#img-header ul.breadcrumb li {
	display: inline;
	font-size: 14px;
	height: 18px;
	color:#AFAAA3;
  }
#img-header ul.breadcrumb li+li:before {
	padding: 8px;
	color: black;
	content: "/\00a0";
  }
#img-header ul.breadcrumb li a {
	color: #0F2B5B;
	text-decoration: none;
  }
#img-header ul.breadcrumb li a:hover {
	color: #AFAAA3;
	text-decoration: none;
  }





.sectionOne{
	background-color: #007b5e;
}
 
section{
	padding: 50px 0;
	 
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}

#content {
    background: #75B2DD1A !important;
}

#content h1{
    margin-top: 20px;
    margin-bottom: 18px;
    font-size:30px;
    font-weight: bold;
}

#content h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size:20px;
    font-weight: bold;
}

#footer{
	background: #0F2B5B !important;
}

#footer h5{
	font-family: 'Roboto', sans-serif;
	margin-top:20px;
    font-size:14px;
    font-weight: 900;
    margin-bottom: 10px;
    color:#FCD116;
}

#footer h1{
    margin-top: 15px;
    margin-bottom: 50px;
	font-size:34px;
	font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color:#FCD116;
}

#footer a{
    font-size:12px;
    color: #FCD116;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li{
  padding: 1px 0;
  color: #FCD116;
}

#footer ul.social li a i{
  margin-right: 5px;
  font-size:10px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
  color: #FCD116;
}

#footer ul.social li:hover a i {
  font-size:10px;
  
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#FCD116;
}

#footer ul.quick-links li a:hover{
  color:#FFF;
}
#footer ul.social li a:hover{
  color:#FFF;
}
#footer ul.quick-links li{
  padding: 1px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 1px 0;
  margin-left:5px;
  font-weight:700;
}
#footer ul.quick-links li a i{
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}
 
 
/* --------------- this for css on top ------------------- */
#onTop{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 30px;
  border: none;
  outline: none;
  background-color: #a3a3a3;
  color:#FFF;
  cursor: pointer;
  width: 50px;
  height: 45px;
  border-radius: 50%;
}

#onTop:hover{
  background-color: #FCD116;
  color:#FFF;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.15);
}
/* ======================================================== */

.fa {
	padding: 8px;
	font-size: 20px;
	width: 38px;
	text-align: center;
	text-decoration: none;
	margin: 5px 2px;
	border-radius: 50%;
	opacity: 1;
}
	
.fa:hover {
	  opacity: 0.7;
	  text-decoration: none;
	  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.15);
}
	
.fa-facebook, .fa-twitter, .fa-instagram, .fa-youtube-play {
	background: #FCD116;
	color: #0F2B5B;
}

.fa-globe, .fa-trophy, .fa-thumbs-up, .fa-lightbulb-o, .fa-search {
	background: #bac9e6;
	opacity: none;
	font-size:25px;
	width: 43px;
	margin-top:10px;
	color: #0F2B5B;
}
  
.chat-float {
  display: block;
  position: fixed;
  z-index: 100;
  bottom: 20px;
  right: 80px;
}

.chat-float img {
  width: 50px;
}


/* FLOAT MENU CSS */
 
.float-menu {
	display: block;
	position: fixed;
	top: 40%;
	z-index: 9;
	right: 0
}
.float-menu ul {
	-webkit-box-shadow: 0 5px 15px 0 #808080;
   -ms-box-shadow: 0 5px 15px 0 #808080;
   -o-box-shadow: 0 5px 15px 0 #808080;
   box-shadow: 0 5px 15px 0 #808080;
   border-radius: 12px 0 0 12px;
   background-color: #FCD116;
   margin-bottom: 0;
   list-style: none;
   padding: 11px 11px;
   width: 50px;
   overflow: visible;
}
.float-menu ul li a {
	display: table;
	height: auto;
	color: white;
	padding: 10px 0
}
.float-menu ul li a span {
	display: table-cell;
	vertical-align: middle
}
.float-menu ul li a .text {
	display: none
}
.float-menu ul li a .menu-icon {
	font-size: 45px;

	margin-left: 15px
}
.float-menu ul li:hover {
	overflow: visible
}
.float-menu ul li:hover a {
		width: 117px;
   /* height: 10px; */
   -wenkit-transition: all .3s ease;
   -webkit-transition: all .3s ease;
   transition: all .3s ease;
   background-color: #1a3562;
   margin-left: -80px;
   -webkit-box-shadow: 5px 0 17px #808080;
   -ms-box-shadow: 5px 0 17px #808080;
   -o-box-shadow: 5px 0 17px #808080;
   box-shadow: 5px 0 17px #808080;
   border-radius: 15px 0 0 15px;
   padding-left: 0;
   padding-right: 5px;
   /* padding-top: 0; */
   padding-bottom: 3;
   padding: 10 10 10 10;
}
.float-menu ul li:hover a span {
	width: 50%
}
.float-menu ul li:hover a img {
	margin-left: 8px;
   float: right;
}
.float-menu ul li:hover a .text {
	display: table-cell;
	padding-left: 15px
}
.float-menu ul li:hover a .menu-icon {
	font-size: 56px;
	margin-left: 0;
	text-align: center
}
@media only screen and (max-width: 992px) {
	.box {
		width: 100%
	}
	.table {
		display: block
	}
	.table .cell {
		display: block
	}
	.mandiri-navbar {
		padding-top: 100px
	}
	.mandiri-big-logo {
		 width: 160px;
		top: 15px
	}
	.container .navbar-header {
		display: table;
		margin-left: 0;
		margin-right: 0;
		width: 100%
	}
	.container .navbar-header .navbar-toggle,
	.container .navbar-header .search-form {
		display: table-cell !important;
		vertical-align: middle
	}
	.container .navbar-header .navbar-toggle {
		float: none;
		margin-left: 0
	}
	.container .navbar-header .search-form {
		padding: 0;
		border: none
	}
	.with-table-content {
		margin-top: 10px;
		width: 100%
	}
	.with-table-content .table {
		margin-bottom: 0;
		border-radius: 15px 15px 0 0
	}
	.with-table-content .table .cell {
		height: auto
	}
	.with-table-content .table .cell img {
		width: 50px
	}
	.with-table-content .table .cell img.thumb {
		width: 100% !important;
		height: 200px
	}
	.with-table-content .table .cell h3 {
		font-size: 18px
	}
	.thumbnail {
		width: 100%;
		margin: 0 0 15px 0
	}
	.thumbnail:nth-of-type(3n-3) {
		margin-left: 0;
		margin-right: 0
	}
	section.slider {
		background-color: white;
		min-height: auto
	}
	section.slider .owl-carousel .owl-item img {
		display: block;
		width: 100%;
		height: 200px;
		margin: 0 auto;
		border-radius: 15px;
		-webkit-object-fit: cover;
		-moz-object-fit: cover;
		-o-object-fit: cover;
		-ms-object-fit: cover;
		object-fit: cover
	}
	.owl-theme .owl-controls {
		position: relative;
		top: 0;
		right: auto;
		margin-top: 0
	}
	.owl-controls .owl-pagination .owl-page span {
		width: 10px;
		height: 10px;
		opacity: 1
	}
	.owl-controls .owl-pagination .owl-page.active span {
		border: solid 3px #ffd10a;
	}
	.float-menu {
		top: auto;
		bottom: 0;
		width: 100%
	}
	.float-menu ul {
		width: 100%;
		display: block;
		padding: 0;
		border-radius: 20px 20px 0 0
	}
	.float-menu ul li {
		display: inline-block;
		width: calc(24%)
	}
	.float-menu ul li a {
		margin: 0 auto
	}
	.float-menu ul li:hover {
		height: 75px
	}
	.float-menu ul li:hover a {
		border-radius: 15px 15px 0 0;
		width: 100%;
		margin-left: 0;
		height: 100px;
		top: -14px;
		position: relative
	}
	.float-menu ul li:hover a img {

			width: 55% !important;
   height: auto !important;
   float: none;
   margin-left: -4px;
		
	}
	.float-menu ul li:hover a .text {
		display: none
	}
	

 