 
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');
body{
	font-family: 'Roboto', sans-serif;
}

#slider{
	height: 550px;
}


#simulasi{
	height: 1200px;
	background: #F2F7FF 0% 0% no-repeat padding-box;
	opacity: 1;
}


.card-one{
	background: linear-gradient(to bottom, rgba(122, 151, 194, 0.748), rgba(7, 1, 56, 0.73)), url('../asset/slider2.png') no-repeat padding-box; 
	box-shadow: 0px 10px 30px #00000014;
	border-radius: 24px;
	opacity: 50;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	text-align: left;
	color: #FFFFFF;
	top: 15px;
	width: 538px;
	height: 320px;
	padding-left:35px;
	padding-right:10px;
	padding-bottom:0px;
}

 

.card-two{
	background: var(--orange-f77f00) 0% 0% no-repeat padding-box;
	background: #F77F00 0% 0% no-repeat padding-box;
	box-shadow: 0px 10px 30px #00000014;
	border-radius: 24px;
	opacity: 1;
	font-size: 14px;
	font-family: 'Roboto', sans-serif;
	letter-spacing: 1px;
	text-align: left;
	color: #FFFF;
	top: 15px;
	width: 538px;
	height: 320px;
	padding-left:35px;
	padding-right:10px;
	padding-bottom:0px;
}


.btn-simulasi{
	background: #FFFF 0% 0% no-repeat padding-box;
	border-radius: 30px;
	border: none;
	position: center;
	left: 500px;
	width: 250px;
	height: 45px;
	padding: 12px;
	text-align: center;
	font-family: 'Roboto', sans-serif;
	font-size: 14px;
	font-weight: 900;
	color: #121212;
	text-transform: uppercase;
	transition-duration: 0.4s;
	margin-left: 15%;
	margin-top: 10%;
}

.btn-simulasi:hover {
	background-color:#FCD116;
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.15);
}

.btn-wr{
	background-color: #FFF;
	color: #121212;
	opacity: 0.5;
	font-size: 13px;
	border-radius: 25px;
	width: 179px;
	height: 45px;
	padding: 12px;
	margin-right: 30px;
 }

 .btn-wr:hover{
	background-color: #FCD116;
	color:black;
	color: #121212;
	opacity: 1;
	font-size: 13px;
	border-radius: 25px;
	width: 179px;
	font-family: 'Roboto', sans-serif;
	font-weight: 900;
	border:none;
	transition-duration: 0.7s;
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.15);
 }


.btn-more{
 	background-color: #0F2B5B;
 	color:#FFF;
 	font-size: 13px;
 	border-radius: 25px;
	width: 250px;
	padding: 12px;
}

.btn-more:hover{
	background-color: #FFF;
	color:black;
	font-family: 'Roboto', sans-serif;
	font-size: 13px;
	font-weight: 900;
	border-radius: 25px;
	width: 250px;
	box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.15);
}


.h5{
	font-size: 2px;
	color:#FCD116;
}

 

.dropdown-menu{
 	background-color: #FFF; 
 	color:#000;
  	padding: 10px;
}

.dropdown-menu a{
 	background-color: #fff; 
 	color:#000;
  	padding: 10px;
  	display: block;
}

.dropdown-menu a:hover{
 	background-color: #fcb103; 
 	color:#000;
  	padding: 10px;
  	display: block;
}

.sectionOne{
	background-color: #007b5e;
}

 
section{
	padding: 60px 0;
	 
}

section .section-title {
    text-align: center;
    color: #007b5e;
    margin-bottom: 50px;
    text-transform: uppercase;
}


#content {
    background: #75B2DD1A !important;

}

#content h1{
    margin-top: 20px;
    margin-bottom: 18px;
    font-size:30px;
    font-weight: bold;
}

#content h3{
    margin-top: 20px;
    margin-bottom: 10px;
    font-size:20px;
    font-weight: bold;
}

#footer{
	background: #0F2B5B !important;
}

#footer h5{
	font-family: 'Roboto', sans-serif;
	margin-top:20px;
    font-size:14px;
    font-weight: 900;
    margin-bottom: 10px;
    color:#FCD116;
}

#footer h1{
    margin-top: 15px;
    margin-bottom: 50px;
	font-size:34px;
	font-family: 'Roboto', sans-serif;
    font-weight: 900;
    color:#FCD116;
}

#footer a {
    font-size:12px;
    color: #FCD116;
    text-decoration: none !important;
    background-color: transparent;
    -webkit-text-decoration-skip: objects;
}

#footer ul.social li{
  padding: 1px 0;
  color: #FCD116;
}

#footer ul.social li a i{
  margin-right: 5px;
  font-size:10px;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
  color: #FCD116;
}

#footer ul.social li:hover a i {
  font-size:10px;
  
}
#footer ul.social li a,
#footer ul.quick-links li a{
  color:#FCD116;
}

#footer ul.quick-links li a:hover{
  color:#FFF;
}
#footer ul.social li a:hover{
  color:#FFF;
}
#footer ul.quick-links li{
  padding: 1px 0;
  -webkit-transition: .5s all ease;
  -moz-transition: .5s all ease;
  transition: .5s all ease;
}
#footer ul.quick-links li:hover{
  padding: 1px 0;
  margin-left:5px;
  font-weight:700;
}
#footer ul.quick-links li a i{
  margin-right: 5px;
}
#footer ul.quick-links li:hover a i {
  font-weight: 700;
}
 
 

.small-footer a{
  font-size: 12px;
  color:#a3a3a3;
}
     
.small-footer a{
 font-size: 12px;
 color:#a3a3a3;
}
      
.small-footer a{
 font-size: 10px;
 color:#a3a3a3;
}

/* --------------- this for css on top ------------------- */
#onTop{
  display: none;
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 99;
  font-size: 38px;
  border: none;
  outline: none;
  background-color: #a3a3a3;
  color:#FFF;
  cursor: pointer;
  width: 50px;
  height: 48px;
  border-radius: 50%;
}
#onTop:hover{
  background-color: #FCD116;
  color:#FFF;
  box-shadow: 0 8px 10px 0 rgba(0,0,0,0.24), 0 14px 40px 0 rgba(0,0,0,0.15);
}
/* ======================================================== */
 